<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}DQ Workbench{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    {% block head %}{% endblock %}
    <style>
        body {
          display: flex;
          min-height: 100vh;
        }
        .sidebar {
          width: 220px;
          background-color: #f8f9fa;
          padding: 1rem;
        }
        .content {
          flex-grow: 1;
          padding: 2rem;
        }
    </style>
</head>
<body>
<nav class="sidebar">
    <h5>DQ Workbench</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('ui.index') }}">DQ Monitor</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('ui.min_max_index') }}">Min-Max Generation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('api.edit_server') }}">Server Configuration</a>
        </li>
        <!-- future items here -->
    </ul>
</nav>

<div class="content">
    {% block content %}{% endblock %}
</div>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>
</html>
