{% extends "layout.html" %}

{% block title %}{{ 'Edit' if edit else 'Create' }} Min Max Generation Stage{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='tomselect/tom-select.bootstrap5.min.css') }}">
  <script src="{{ url_for('static', filename='tomselect/tom-select.complete.js') }}"></script>
  {% include "partials/tom_select_dataset.html" %}
{% endblock %}


{% block content %}
 {% include "partials/_flashes.html" %}
  <h1>{{ 'Edit' if edit else 'Create' }} Min Max Generation Stage</h1>

  <form method="post">
    <div class="mb-3">
      <label class="form-label" for="stage_name">Stage Name</label>
      <input class="form-control" id="stage_name" name="stage_name" value="{{ stage.name or '' }}" required>
    </div>

      <div class="mb-3">
        <label class="form-label" for="completeness_threshold">Completeness threshold</label>
          <input class="form-control" id="completeness_threshold" name="completeness_threshold" type="number" step="0.01"
                 value="{{ stage.completeness_threshold or 0.8 }}" required>
        </div>
    <div class="mb-3">
        <label class="form-label" for="previous_periods">Previous periods</label>
        <input class="form-control" id="previous_periods" name="previous_periods" type="number" min="0"
               value="{{ stage.previous_periods or 24 }}" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="datasets">Datasets</label>
        <select id="datasets" name="datasets" placeholder="Search..." class="form-select" multiple>
            {% for dataset in datasets %}
            <option value="{{ dataset.uid }}" {% if dataset.uid in stage.params.datasets %}selected{% endif %}>
                {{ dataset.name }}
            </option>
            {% endfor %}
        </select>
    </div>
      # Orgunit selection can be multiple UIDs references
    <div class="mb-3">
        <label class="form-label" for="orgunits">Org Units</label>
        <select id="orgunits" name="orgunits" placeholder="Search..." class="form-select" multiple>
            {% for orgunit in orgunits %}
            <option value="{{ orgunit.uid }}" {% if orgunit.uid in stage.params.orgunits %}selected{% endif %}>
                {{ orgunit.name }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
